
<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Nuevo Entrenamiento</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', training: @training %>
        </div>
    </div>
</div>
