
<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Nuevo Estado civil</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', civil_state: @civil_state %>
        </div>
    </div>
</div>
