


<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Editar Test psicologico</h5>
      <div class="ibox-content">
        <%= render 'form', psicologic_evaluation: @psicologic_evaluation %>


      </div>
    </div>
    </div>
  </div>
