



<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>NUEVA CONVOCATORIA</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', convocatory: @convocatory %>
        </div>
    </div>
</div>
