<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Editar Stock Categoria</h5>
        </div>
        <div class="ibox-content">
            <p id="notice"><%= notice %></p>
            <%= render 'form', stock_category: @stock_category %>
      </div>
    </div>
  </div>
