<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Nuevo Stock Categoria</h5>
        </div>
        <div class="ibox-content">
        <%= render 'form', stock: @stock %>
        </div>
    </div>
</div>
