





<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Editar anuncio</h5>
      <div class="ibox-content">
    <%= render 'form', annunment: @annunment %>

      </div>
    </div>
    </div>
  </div>
