

<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Edicion del detalle de capacitaciones</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', user_training: @user_training %>
        </div>
    </div>
</div>
