
<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Nuevo Test tecnico</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', tecnic_evaluation: @tecnic_evaluation %>


        </div>
    </div>
</div>
