
<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Editing Assignation Stock</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', assignation_stock: @assignation_stock %>
        </div>
    </div>
</div>
