
<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Editing Assign Detail</h5>
        </div>
        <div class="ibox-content">
            <%= render 'form', assign_detail: @assign_detail %>
          </div>
      </div>
  </div>
