<div class="ibox-content">
  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
          <h2>BIENVENIDOS A LA AYUDA</h2>

      </div>
      <div class="col-lg-2">

      </div>
  </div>

  <div class="row">


  <div class="fh-column">
      <div class="full-height-scroll">
          <ul class="list-group elements-list">


              <li class="list-group-item">
                  <a data-toggle="tab" href="#tab-1">

                      <strong>USUARIO</strong>
                      <div class="small m-t-xs">
                          <p>
                              crear tu login y disfruta de las ventajas de RRHH
                          </p>

                      </div>
                  </a>
              </li>

              <li class="list-group-item active">
                  <a data-toggle="tab" href="#tab-2">

                      <strong>ROLES Y PERMISOS</strong>
                      <div class="small m-t-xs">
                          <p class="m-b-xs">
                            se realiza la asignacion de privilegios
                              <br/>
                          </p>

                      </div>
                  </a>
              </li>



                            <li class="list-group-item active">
                                <a data-toggle="tab" href="#tab-3">

                                    <strong>GESTIONAR AVISO</strong>
                                    <div class="small m-t-xs">
                                        <p class="m-b-xs">
                                          NOS PERMITE CREAR TIPO DE AVISOS DE DISTINTA NATURALEZA
                                            <br/>
                                        </p>

                                    </div>
                                </a>
                            </li>

                            <li class="list-group-item active">
                                <a data-toggle="tab" href="#tab-4">

                                    <strong>GESTION DE ACTIVOS FIJOS</strong>
                                    <div class="small m-t-xs">
                                        <p class="m-b-xs">
                                        podemos ver las existencias y la asignnacion de determinados activos fijos
                                            <br/>
                                        </p>

                                    </div>
                                </a>
                            </li>


                            <li class="list-group-item active">
                                <a data-toggle="tab" href="#tab-5">

                                    <strong>BACKUP Y SOPORTE</strong>
                                    <div class="small m-t-xs">
                                        <p class="m-b-xs">
                                          realiza una copia de seguridad, y respaldo de informacion de la base de datos completa   del software,
                                          evitando asi de muchas maneras perdida importante de informacion.
                                            <br/>
                                        </p>

                                    </div>
                                </a>
                            </li>



          </ul>

      </div>
  </div>

  <div class="full-height">
      <div class="full-height-scroll white-bg border-left">

          <div class="element-detail-box">

              <div class="tab-content">


                  <div id="tab-1" class="tab-pane">

                      <h1>
                          ¿COMO CREAR UN USUARIO?
                      </h1>

                      <p>
                        Ingresar al login en la pagina principal de RRHH, donde tienes que ingresar tus:
                      </p>

                        <p>
                          -EMAIL </br> -PASSWORD
                        </p>

                        <p>posteriormente ingresaremos a una ventana donde tendras que ingresar tus datos personales
                        para que el sistema pueda identificarte</p>

                        <p>
                          -NOMBRE </br> -APELLIDO </br> -FECHA DE NACIMIENTO </br>-SEXO </br>-CI </br>-DIRECCION</br>-NUMERO DE CELULAR </br>-ESTADO CIVIL
                        </p>
                        <p>posteriormente tendras que guardar tu perfil aceptando los cambios</p>


                  </div>
<!------------------------------------------------------------------>
                  <div id="tab-2" class="tab-pane active">

                      <h1>
                        ¿COMO CREAR UN ROL Y ASIGNAR PERMISOS?
                      </h1>

                      <p>
                        Es una caracteristica del sistema de RRHH que permite al usuaio administrador ,proporcionar
                        roles y permisos a distintos usuarios.
                      </p>
                  </div>
    <!------------------------------------------------------------------>
                  <div id="tab-3" class="tab-pane active">

                      <h1>
                        ¿COMO CREAR UN AVISO?
                      </h1>

                      <p>
                        Podemos crear, editar y tener una vista predeterminada de cualquier tipo de anuncio
                        con respecto a lo que la empresa requiera.
                      </p>
                  </div>
<!------------------------------------------------------------------>
<div id="tab-4" class="tab-pane active">

    <h1>
    ¿QUE SON LOS PRESTAMOS DE ACTIVO FIJO ?
    </h1>

    <p>
      Caracteristicas:
    </p>

        <p>
          -NOS CREAR UNA CANTIDAD DETERMINADA DE ACTIVOS EXISTENTES </br></br>
          -NOS PERMITE ASIGNAR UNA CIERTA CANTIDAD A UN DETERMINADO EMPLEADO O USUARIO .</br></br>
          -Y NOS PERMITE PODER REALIZAR UN DETALLE DEL MISMO ,PARA SU POSTERIOR REGISTRO
        </p>
</div>
<!------------------------------------------------------------------>
<div id="tab-5" class="tab-pane active">

    <h1>
    ¿BACKUP Y SOPORTE ?
    </h1>

    <p>
      Un software que permite de una forma rapida y eficiente crear una copia de seguridad de la
      base de datos , actualizandose en un cierto determinado tiempo sin la necesidad de hacerlo de forma manual.
    </p>


</div>

<!------------------------------------------------------------------>

              </div>

          </div>

      </div>
  </div>
</div>
</div>
